.profile {
    width: 882px;
    margin: 40px auto 51px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
  
@media screen and (max-width: 882px) {
    .profile {
      margin: 38px auto 36px;
      justify-content: center;
      max-width: 90vw;
      flex-direction: column;
    }
}
