.popup__content {
    max-width: 430px;
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-direction: column;
    box-sizing: border-box;
    background: white;
    border-radius: 10px;
    padding: 34px 36px 36px;
}

@media screen and (max-width: 779px) {
    .popup__content {
        max-width: 350px;
        padding: 17px 18px 18px;
    }
}

@media screen and (max-width: 470px) {
    .popup__content {
        max-width: 300px;
    }
}
