.profile__edit {
    color: white;
    background: url(../../../images/pencil.svg) center no-repeat;
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    border: 1px solid #FFFFFF;
}

.profile__edit:hover { 
    opacity: 0.5;
    cursor: pointer;
}
