.elements {
  max-width: 880px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 20px 17px;
}

@media screen and (max-width: 920px) {
  .elements {
    width: 581px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 640px) {
  .elements {
    width: 282px;
    grid-template-columns: 1fr;
  }
}