.profile__caption {
  color: white;
  margin: 16px 0 0 0;
  line-height: 22px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media screen and (max-width: 900px) {
  .profile__caption {
    margin: 0;
    line-height: 17px;
    font-size: 14px;
    text-align: center;
  }
}
